<!-- HERO -->
<section class="bg-linear-to-br from-slate-900 via-slate-800 to-black text-white">
  <div class="max-w-6xl mx-auto px-6 py-28 text-center">
    
    <h1 class="text-5xl font-bold mb-6">
      Bem-vindo ao
      <span class="text-yellow-400">DeckMaster AI</span>
    </h1>

    <p class="text-lg text-gray-300 max-w-2xl mx-auto mb-10">
      Crie, compartilhe e melhore seus decks de Yu-Gi-Oh com inteligência artificial.
      Descubra sinergias, cartas relacionadas e domine o meta.
    </p>

    <div class="flex justify-center gap-6">
      <a routerLink="/create"
         class="bg-yellow-400 text-black font-semibold px-6 py-3 rounded-xl hover:scale-105 transition">
        Criar Meu Deck
      </a>

      <a routerLink="/decks"
         class="border border-yellow-400 text-yellow-400 px-6 py-3 rounded-xl hover:bg-yellow-400 hover:text-black transition">
        Explorar Decks
      </a>
    </div>

  </div>
</section>

<!-- FEATURES -->
<section class="bg-slate-950 text-white py-24">
  <div class="max-w-6xl mx-auto px-6">

    <h2 class="text-3xl font-bold text-center text-yellow-400 mb-16">
      O que você pode fazer aqui?
    </h2>

    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">

      <div class="bg-slate-900 p-6 rounded-2xl hover:-translate-y-2 transition shadow-lg">
        <h3 class="text-xl font-semibold mb-3">🃏 Cadastre Decks</h3>
        <p class="text-gray-400">
          Monte seus decks e compartilhe com a comunidade.
        </p>
      </div>

      <div class="bg-slate-900 p-6 rounded-2xl hover:-translate-y-2 transition shadow-lg">
        <h3 class="text-xl font-semibold mb-3">🤖 Dicas com IA</h3>
        <p class="text-gray-400">
          Receba sugestões inteligentes para melhorar sua estratégia.
        </p>
      </div>

      <div class="bg-slate-900 p-6 rounded-2xl hover:-translate-y-2 transition shadow-lg">
        <h3 class="text-xl font-semibold mb-3">🔎 Cartas Relacionadas</h3>
        <p class="text-gray-400">
          Descubra cartas que combinam com seu deck.
        </p>
      </div>

      <div class="bg-slate-900 p-6 rounded-2xl hover:-translate-y-2 transition shadow-lg">
        <h3 class="text-xl font-semibold mb-3">🔥 Meta Atual</h3>
        <p class="text-gray-400">
          Veja tendências e decks populares.
        </p>
      </div>

    </div>

  </div>
</section>

<!-- CTA -->
<section class="bg-linear-to-r from-yellow-400 to-yellow-600 text-black py-20 text-center">
  <h2 class="text-3xl font-bold mb-6">
    Pronto para dominar o duelo?
  </h2>

  <a routerLink="/create"
     class="bg-slate-900  text-yellow-400 px-8 py-4 rounded-2xl font-semibold hover:scale-105 transition cursor-pointer">
    Começar Agora
  </a>
</section>